.my-text{
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.my-text-txt{
    text-align: center;
    color:blueviolet;
    line-height: 1em;
    vertical-align: middle;
}
p.main{
    text-align:justify;
    color:black;
    text-indent:50px;
}
h1.one{
    border-style: solid;
    border-width: 3px;
    border-color: #FF9999;
}
.me-text{
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.8;
    font-weight: 2em;
}
#menu{
    display:inline-block  !important;
}

.nav{
    height:50px;
    border-style: 2px solid;
    background-color: #111(244, 235, 235);
    width: 100%;
}
ul.main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    top: 0;
    position: fixed;
    width: 100%;
}

li.main {
    float: left;
}

li.main a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(232, 214, 214);
}
.sprite {
    display:inline-block;
    width: 80px;height: 80px;
    background-image: url('./img/css_sprites\ \(1\).png');
}    
.sprite.smile{background-position: 0px 0px;}
.sprite.fish {background-position: -80px 0px;}
.sprite.people {background-position: 0px -80px;}
.sprite.potatohead {background-position: -80px -80px;}

/* 主页内容 */
.box{
    display:block;
    border-style: solid;
    width: 1200px;
    height:2000px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
} 
/* 主页标题头部内容 */
.header{
    width: 100%;
    height:400px;
    margin-top: 20px;
    background-image: url(../css/img/图片1.png);
}
/* 首页栅格布局 文字图片 */
.container{
    display:grid;
    width:1000px;
    border-color:#000000;
    border-top-style:none;
    border-right-style:inset;
    border-bottom-style:none;
    border-left-style:inset;
    border-width: 4px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns:repeat(4,1fr);
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
/* 第一张图片 */
.f1{
    grid-area: 1/1/3/2;
}
/* 第一段文字 */
.f2{
    grid-area: 1/2/3/3;
}
.f3{
    grid-area:1/3/2/4;
}
.f4{
    grid-area:1/4/2/5 ;
}
.f5{
    grid-area: 2/3/3/4;
}
.f6{
    grid-area: 2/4/3/5;
}
.f7{
    grid-area: 3/1/4/3;
}
.f8{
    grid-area: 3/3/4/5;
}
.f9{
    grid-area: 4/1/5/3;
}
.f10{
    grid-area: 4/3/5/5;
}
